- content_for :page_title do
  投げ銭について

.rich-formatting
  %h2 機能概要
  %p サポートチャットは、ライブチャット配信者に対して直接的な支援を提供することができます。ユーザーはアプリ内で利用できるポイントを購入し、そのポイントを使って配信者にポイントが付与されたメッセージを送ることができます。メッセージはポイント数に応じて通常のメッセージよりも目立たせることができ、一定時間別枠で表示されます。<br/>この機能を使うことで、配信者と視聴者の間の相互作用が促進され、配信者がより良いコンテンツを制作し続けることを支援することができます。また、ポイントは、アプリ外のWebサイトでも購入することが可能です。ユーザーは、購入したポイントをアプリ内で使用することで、配信者に対して柔軟かつ効果的に支援を行うことができます。この機能を通じて、ユーザーは、配信者に対して直接的な支援を提供することで、彼らが継続的に優れたコンテンツを制作し続けることを支援することができます。
  %h2 利用規約
  %p 続行すると、ユーザーは#{link_to '利用規約', terms_path}に同意したものと見なされます。配信者は事前の告知や払い戻しをすることなく、いつでもライブチャットを終了することができます。<br/>またポイント利用のキャンセルや払い戻しはできません。
