:ruby
  text =<<-EOT
    <h2>よくあるご質問</h2>

    <h3>広告が消えません</h3>
    <p>お支払い完了後に広告が消えない場合は、一度アプリケーションを強制終了してください</p>

    <hr class="spacer" />

    <h3>アプリ内の広告は消えましたが、Webサイト内の広告が消えません</h3>
    <p>現バージョンのアプリでは、Webサイト内の広告は消えません。Webサイトの広告も消す修正を予定しています。</p>

    <hr class="spacer" />

    <h3>機種変更</h3>
    <p>機種変更した場合や、同一appleアカウントの端末を複数台お持ちの場合は、インストール後に「課金情報の復元」を押してください。</p>

    <hr class="spacer"/>

    <h3>アメリカドルで値段が表示される</h3>
    <p>「課金情報の復元」を押してください。</p>

    <hr class="spacer"/>

    <h3>解約したい</h3>
    <p>「登録状況の確認とキャンセル」を押すと解約画面が表示されます。解約をしても有効期間満了までは広告は表示されません。</p>

    <hr class="spacer" />
  EOT

- content_for :page_title do
  = 'よくあるご質問'

.public-layout
  .container
    .grid
      .column-0
        .box-widget
          .rich-formatting!= text
