- content_for :page_title do
  = '利用規約'

.public-layout
  .container
    .grid
      .column-0
        .box-widget
          .rich-formatting
            %h3 GC2 利用規約
            %p この利用規約（以下「本規約」）は、株式会社クアッドシステム（以下「当社」）が運営し提供するサービス「GC2 アプリ」（以下、当該サービスを利用する際にインストールが必要となるアプリケーションと合わせ、「本サービス」といいます）の利用に関する条件を、本サービスを利用するすべてのお客様（以下「お客様」）と当社との間で定めるものです。本サービスは、13歳未満の利用について一部機能を制限しております。本サービスの利用により、本規約に同意したものとみなします。

            %h3 第1条　定義
            %p 本規約において使用する用語の定義は、以下のとおりとします。
            %ol
              %li 「コンテンツ」とは、文章、音声、音楽、画像、動画、ソフトウェア、プログラム、コードその他の情報のことをいいます。
              %li 「本コンテンツ」とは、本サービスを通して利用、閲覧、アクセスできるコンテンツのことをいいます。
              %li 「投稿コンテンツ」とは、お客様が本サービスに投稿、送信、アップロードしたコンテンツのことをいいます。
              %li 「登録情報」とは、本サービスの提供を受ける目的で、お客様が当社に提供した一切の情報をいいます。
              %li 「認証情報」とは、本サービスにおいて、アカウントにログインするために必要な情報をいいます。
              %li 「登録情報」とは、本サービスの提供を受ける目的で、お客様が当社に提供した一切の情報をいいます。
              %li 「個人情報」とは、登録情報のうち、住所、氏名、電話番号、電子メール等、特定の個人を識別できる情報をいいます。
              %li 「個別利用規約」とは、本サービスに関して、本規約とは別に「規約」、「ガイドライン」、「ポリシー」などの名称で当社が配布または掲示している文書のことをいいます。

            %h3 第2条　規約への同意
            %ol
              %li お客様は、本規約に同意することにより、本サービスを利用することができます。お客様は、年齢や利用環境など、当社の定める条件に応じて、当社の定める範囲内で、本サービスを利用するものとします。
              %li お客様が本規約または個別利用規約に同意しない場合、本サービスを利用することはできないものとし、直ちに本サービスのダウンロード、インストールまたは利用を中止するものとします。
              %li お客様が未成年者である場合は、親権者等の法定代理人の同意を得て、本サービスを利用するものとします。
              %li 未成年のお客様が、法定代理人の同意がないにもかかわらず同意があると偽って本サービスを利用した場合、または成年と偽って本サービスを利用した場合、本サービスにおける一切の法律行為を取り消すことはできません。
              %li 本規約および個別利用規約同意時に未成年であったお客様が、成年に達した後に本サービスを利用した場合、これにより、当該お客様は、本サービスに関する一切の法律行為を追認したものとみなされます。
              %li お客様が本サービスを事業者のために利用する場合は、当該事業者も本規約に同意したうえで本サービスを利用してください。
              %li 本サービスにおいて、個別利用規約が定められている場合、お客様は本規約だけでなく、個別利用規約の定めにもしたがい、本サービスを利用するものとします。
              %li 本規約と個別利用規約の内容が異なっている場合、個別利用規約に定める内容が優先して適用されます。

            %h3 第3条　サービスの提供
            %ol
              %li お客様は、端末、通信機器、オペレーションシステム、インターネット接続サービスその他本サービスを利用するために必要となる機器およびサービスを、お客様の費用と責任において用意しなければなりません。
              %li 当社は、本サービスの全部または一部を、年齢、本人確認の有無、登録情報の有無、その他、当社が必要と判断する条件を満たしたお客様に限定して提供するものとします。

            %h3 第4条　アカウント
            %ol
              %li 本サービスの利用に際しアカウントの作成をする場合、お客様は、ご自身に関する情報について、真実、正確かつ完全な情報を登録しなければなりません。
              %li お客様は、アカウントの作成に際して認証情報を登録する場合、これを不正に利用されないようご自身の責任で厳重に管理しなければなりません。当社は、登録された認証情報を利用して行われた一切の行為を、お客様ご本人の行為とみなすことができます。
              %li お客様は、本サービスにおいて、いつでもアカウントを削除して退会することができます。
              %li 当社は、最終ログインから1年間以上経過しているアカウントを、あらかじめお客様に通知することなく削除することができます。
              %li 本サービスにおいてアカウントがある場合のみ利用可能なコンテンツの利用権は、アカウントが削除された時点で消滅します。お客様が誤ってアカウントを削除した場合であっても、アカウントの復旧はできません。
              %li 本サービスのアカウントは、お客様に一身専属的に帰属します。お客様の本サービスにおけるすべての利用権は、第三者に譲渡、貸与、名義変更、売買または相続等させることはできません。

            %h3 第5条　本サービスの変更・中断・終了
            %ol
              %li 当社は、お客様に事前の通知をすることなく、本サービスについて、その内容の全部または一部を変更することができるものとします。
              %li 当社は、一時的または長期にわたり、本サービスの全部または一部の提供を停止することができるものとし、事前に適宜の方法でお客様および第三者にその旨を通知します。但し、以下の各号に該当する場合は、この限りではありません。
              %ol
                %li 定期的又は緊急に、本サービス提供のためのコンピューターシステムの保守・点検を行う場合
                %li 火災・停電、天災地変等の非常事態により本サービスの運営が不能となった場合
                %li 戦争、内乱、暴動、騒擾、労働争議等により、本サービスの運営が不能となった場合
                %li サービス提供のためのコンピューターシステムの不良及び第三者からの不正アクセス、コンピューターウイルスの感染等により本サービスを提供できない場合
                %li 法律、法令等に基づく措置により本サービスが提供できない場合
                %li その他、弊社が止むを得ないと判断した場合
              %li 当社は、当社の判断により本サービスの全部または一部の提供を中止および終了することができるものとします。この時、当社は緊急の必要がある場合を除き、お客様および第三者に対し、事前に適宜の方法により通知します。
              %li 前項に基づき本サービスの全部または一部の提供を中止および終了すると同時に、お客様は、投稿コンテンツを含む本コンテンツを利用する権利一切を失い、以後利用できなくことをあらかじめ異議なく同意するものとします。

            %h3 第6条　規約の変更
            %ol
              %li 当社は、当社が必要と判断する場合、あらかじめお客様に通知することなく、いつでも、本規約および個別利用規約を変更できるものとします。
              %li 本規約および個別利用規約を変更したときは、本サービス内に表示することでお客様への通知とみなします。ただし、かかる変更の内容をお客様に個別に通知することはいたしかねますので、本サービスをご利用の際には、随時、最新の本規約および個別利用規約をご参照ください。
              %li 変更後の本規約および個別利用規約の効力は、当社が前項により通知を行った時点から生じるものとします。
              %li お客様は、本規約および個別利用規約の変更後、本サービスを利用した時点で、変更後の本規約および個別利用規約に有効かつ取消不能な同意をしたものとみなされます。

            %h3 第7条　個人情報の取り扱い
            %ol
              %li 当社は、お客様から取得した個人情報を含む一切の情報を、当社が別途定める「#{link_to 'プライバシーポリシー', policy_path}」に従い、適正に取り扱うものとします。

            %h3 第8条　著作権などの権利の帰属
            %ol
              %li 当社がお客様に対し提供する本コンテンツに関して発生している著作権を含むその他知的財産権は、投稿コンテンツを除き、当社に帰属します。本利用規約は、お客様に対し、当社が有する著作権その他知的財産権の実施または使用許諾をするものではありません。
              %li 本サービスの仕様・ルール・デザイン・視聴覚表現および効果・パラメータ・シナリオその他一切の事項については、当社が任意に設定・構築・変更などできるものとし、お客様はあらかじめこれを了承します。
              %li 当社は、当社が提供する本コンテンツについて、お客様に対し、譲渡および再許諾せず、非独占的な、本サービスの利用を唯一の目的とする利用権を付与します。
              %li お客様は、利用料、利用期間その他の利用条件が別途定められた本コンテンツを利用する場合、かかる利用条件に従うものとします。本サービスの画面上で「購入」、「販売」等の表示がされている場合であっても、当社がお客様に対し提供する本コンテンツに関する知的財産権その他の権利はお客様に移転せず、お客様には、上記の利用権のみが付与されます。

            %h3 第9条　コンテンツ
            %ol
              %li お客様は、本コンテンツを、本サービスが予定している利用態様を超えて利用(複製、送信、転載、改変を含みます。)してはなりません。
              %li 当社は投稿コンテンツのバックアップを行う義務を負いません。投稿コンテンツのバックアップは、お客様ご自身で行わなければなりません。
              %li 投稿コンテンツに対する著作権等の権利は従前どおりお客様が有し、当社がかかる権利を取得することはありません。ただし、お客様は、当社に対し、投稿コンテンツを本サービスの円滑な提供、システムの構築、改良、メンテナンスに必要な範囲内で利用する権利（当社が必要かつ適正とみなす範囲で省略等の変更を加える権利を含みます。また、かかる利用権を当社と提携する第三者に再許諾する権利を含みます。）を許諾したこととなります。
              %li お客様は、投稿コンテンツに関する著作者人格権等の権利を、前項に基づく当社または第三者による利用に対して行使しないものとします。
              %li 当社は、法令または本規約の遵守状況等を確認する必要がある場合、法令に反しない限り、お客様の投稿コンテンツの内容を確認することができます。ただし、当社はそのような確認を行う義務を負うものではありません。
              %li 当社は、お客様が投稿コンテンツに関し法令もしくは本規約に違反し、または違反するおそれがあると認めた場合、その他業務上合理的な必要がある場合、あらかじめお客様に通知することなく、投稿コンテンツを削除する等の方法により、本サービスの利用を制限できます。

            %h3 第10条　広告の掲載
            %ol
              %li 当社は、本サービスに当社または第三者の広告を掲載することができるものとします。

            %h3 第11条　禁止事項
            %ol
              %li お客様は、本サービスの内外を問わず、本サービスに関して、故意・過失の有無を問わず以下に掲げる行為またはその恐れのある行為をしてはなりません。
              %ol
                %li 本規約に違反する行為、当社または第三者の著作権、商標権、特許権等の知的財産権、名誉権、プライバシー権、その他法令上または契約上の権利を侵害する行為
                %li 法令、裁判所の判決、決定もしくは命令、または法令上拘束力のある行政措置に違反する行為
                %li 犯罪行為もしくは犯罪行為に結びつく行為、またはそれらを助長する行為
                %li 第三者に対する嫌がらせや誹謗中傷を目的とする行為
                %li 当社または第三者を名乗る、ほのめかす、または、なりすます行為、その他意図的に虚偽の情報を登録するおよび流布させるなどの行為
                %li 当社の許諾のない売買や金銭支払い等の営利を目的とする行為
                %li 第三者の個人情報、登録情報、利用履歴情報などを、不正に収集、開示または提供する行為
                %li 異性との出会いを希望または誘導することを目的とする行為、性行為やわいせつな行為を目的とした出会い等を誘導する行為
                %li 政治もしくは宗教活動または政治もしくは宗教団体等への勧誘行為
                %li 過度に暴力的な表現、露骨な性的表現、人種、国籍、信条、性別、社会的身分、門地等による差別につながる表現、自殺、自傷行為、薬物乱用を誘引または助長する表現、その他反社会的な内容を含むコンテンツを投稿するなど第三者に不快感を与える行為
                %li 他人を反社会的行為に誘引もしくは勧誘する行為、または反社会的勢力に対する利益供与その他の協力行為
                %li 本サービスの不具合を意図的に誘発、利用することを目的とする行為、または本サービスの意図しない目的で本サービスを利用する行為
                %li 本コンテンツ（投稿コンテンツを含む）を、現実社会の金銭・財物・役務その他の経済上の利益で取引する行為またはその申込みの誘因・申込み・承諾を含む一切の準備行為
                %li 本サービスのサーバやネットワークシステムに支障を与える行為、BOT、チートツール、その他の技術的手段を利用してサービスを不正に操作する行為、本サービスの不具合を意図的に利用する行為、同様の質問を必要以上に繰り返す等、当社に対し不当な問い合わせまたは要求をする行為、その他当社による本サービスの運営を妨害し、これらに支障を与える行為
                %li 第1項から前項のいずれかに該当する行為を援助または助長する行為
                %li その他、当社が不適当と判断した行為

            %h3 第12条　お客様の責任
            %ol
              %li お客様は、お客様ご自身の責任において本サービスを利用するものとし、本サービスにおいて行った一切の行為およびその結果について一切の責任を負うものとします。
              %li 当社は、お客様が禁止事項（本規約第11条）に違反する行為を行ったことが確認された場合もしくはその恐れがある場合、その他本サービスを利用することについて当社が不適当であると判断した場合に、以下の措置を講じることができるものとします。この場合、当社は当該措置についての理由、実施期間など当該措置に関する一切の情報を開示する義務を負わないものとし、お客様は当社に対し当該措置に対しての異議を申し立てることが出来ないものとします。また、当社はかかる違反を防止または是正する義務を負いません。
              %ol
                %li 本サービスの全部または一部の利用停止
                %li アカウントの停止または削除
                %li 刑事事件、行政事件その他に該当する可能性がある場合の警察その他の公的機関への通報を含む、禁止行為該当事実の本サービス内外での開示
                %li その他当社が必要かつ適切と判断する措置
              %li お客様は、本サービスを利用したことに起因して（当社がかかる利用を原因とするクレームを第三者より受けた場合を含む）、当社が直接的または間接的に何らかの損害（弁護士費用の負担を含む）を被った場合、当社の請求にしたがって直ちにこれを賠償しなければなりません。当社は、損害が発生またはそのおそれがある場合、お客様に対し、その原因となる行為の差止めを請求することができます。

            %h3 第13条　退会
            %ol
              %li お客様は、退会時に、投稿コンテンツを含むアカウントに関する一切の情報が消滅することに同意するものとします。
              %li 当社は、退会したお客様の個人情報など一切の情報を引き続き保有する義務はないものとします。
              %li 前二項の規定は、第4条第4項および第12条第2項（2）で定めるアカウント削除措置の場合にも準用されるものとします。

            %h3 第14条　免責及び非保証
            %ol
              %li 当社は、本サービス（本コンテンツを含む）に事実上または法律上の瑕疵（安全性、信頼性、正確性、完全性、有効性、特定の目的への適合性、セキュリティなどに関する欠陥、エラーやバグ、権利侵害などを含む）がないことを明示的にも黙示的にも保証しません。当社は、お客様に対して、かかる瑕疵を除去して本サービスを提供する義務を負わないものとします。
              %li 当社は、本サービスの利用または利用不能により、直接的または間接的にお客様に生じた損害について、一切の賠償責任を負わないものとします。
              %li 当社は、お客様に対し、本サービスに対する不正アクセス、コンピューターウイルスの侵入など、第三者の行為を原因としてお客様に生じる損害について責任を負いません。
              %li 当社は、当社による本サービスの変更、中断または終了、お客様が本サービスに関連して送信、登録した情報等の削除や消失、機器の故障や損傷、その他本サービスに関連してお客様が被った損害につき、賠償する責任を負いません。
              %li 当社は、本サービスに対しお客様が登録した情報の永続性を保証せず、お客様が登録情報を紛失、忘却したことにより被った損害について、それがお客様の意思に反して第三者の関与により行われたものであったとしても、賠償責任を負わないものとし、かつ本サービスの利用復帰などの対応を行わないものとします。またお客様が本サービスで利用する端末について、無断使用、紛失、盗難、故障その他の事由によって、登録情報を喪失した場合も同様とします。
              %li 当社は、お客様が選ぶ任意の時点、場所における本サービスの利用およびアクセス可能性ならびにお客様の使用目的および使用端末（本サービス内で推奨端末や推奨環境として端末を提示している場合も含む）への適合性について保証しません。
              %li 当社は、お客様が使用する端末、回線、ソフトウェア等の環境等に基づき生じた損害について、一切の賠償責任を負わないものとします。
              %li 当社は、本サービスが全ての端末に対応していることを保証するものではなく、本サービスの利用に供する端末のOSのバージョンアップ等に伴い、本サービスの動作に不具合が生じる可能性があることにつき、お客様はあらかじめ了承するものとします。当社は、かかる不具合が生じた場合に当社が行うプログラムの修正等により、当該不具合が解消されることを保証するものではありません。
              %li お客様は、AppStore、GooglePlay等のサービスストアの利用規約および運用方針の変更等に伴い、本サービスの一部又は全部の利用が制限される可能性があることをあらかじめ了承するものとします。
              %li 本サービスにおいて、お客様と第三者間で生じたトラブルに関しては、当事者間で解決するものとし、当社は一切の責任を負わないものとします。
              %li 第1項から前項までの規定にもかかわらず当社に賠償責任が発生する場合であっても、当社は、特別な事情から生じた損害については、一切の賠償責任を負わないものとします。
              %li 当社は、本サービスのバグその他を補修する義務および本サービスを改良または改善する義務を一切負いません。
              %li 当社は、本サービスに関するお客様からの問い合わせや改善などの意見その他の提案、フィードバックなどについて、これらの全てに回答をするまたは何らかの対応を実施する義務を負わず、自らの裁量および任意の判断でこれらを実施するものとします。
              %li お客様が、本サービスの利用に際して使用する端末について、修理または機種変更などによりこれを交換したときは、当該新たな端末において、端末を交換する以前の登録情報などの引継ぎができることを保証しません。また、お客様が、アプリケーションまたはアカウント情報を端末から削除し再度本サービスを利用する場合の、登録情報などの引継ぎについても同様とします。

            %h3 第15条　損害賠償
            %ol
              %li 当社は、当社の故意または重過失に起因する場合を除き、本サービスに起因してお客様に生じたあらゆる損害について一切の責任を負いません。ただし、当社の重過失に起因してお客様に損害が生じた場合、当社は、逸失利益その他の特別の事情によって生じた損害を賠償する責任を負わず、お客様から当該損害が発生した月に受領した当該本サービスの利用料がある場合はその額を上限として、利用料がない場合は通常生ずべき損害の範囲内で、損害賠償責任を負うものとします。

            %h3 第16条　連絡方法
            %ol
              %li 本サービスに関する当社からお客さまへの連絡は、本サービス内において当社が適当と判断する方法により行なうものとします。当社からの通知・連絡が不着または遅延などによって生じた損害について、当社は一切の責任を負いません。
              %li 本サービスに関するお客様から当社への連絡は、当社が運営する公式サイトに設置するお問い合わせフォームの送信または当社が指定する方法により行うものとします。また、お客様から通知・連絡があった場合、当社は、当該お客様の事前承諾なく当社所定の方法により本人確認を行います。

            %h3 第17条　準拠法および専属的合意管轄
            %ol
              %li 本規約は、日本法に準拠し、日本法に従って解釈されるものとします。
              %li 本サービスに起因または関連してお客様と当社との間で生じた論議、訴訟その他一切の紛争については、富山地方裁判所または富山簡易裁判所を第一審の専属的合意管轄裁判所とします。

            %p 以上

            %p 最終更新日：2022年10月24日
