- content_for :page_title do
  = t('transactions.title', default: 'Specified Commercial Transaction Act')

.public-layout
  .container
    .grid
      .column-0
        .box-widget
          .rich-formatting
            != @instance_presenter.site_transactions.html_safe.presence

%script{type: 'text/javascript'}
  != @script
